@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

:root {
  /* colors */
  --primary-1: #000000;
  --primary-2: #ffffff;
  --primary-3: #ffa500;
  --primary-4: #808080;

  /* font */
  --font-1: "Comfortaa", cursive;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  height: 100%;
}

body {
  font-family: var(--font-1);
  background-color: var(--primary-1);
  color: var(--primary-2);
  overflow-x: hidden;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.container {
  width: 1280px;
  margin: auto;
}

header {
  border-bottom: 5px solid var(--primary-3);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 0 20px;
}

#header h2 {
  font-size: 2rem;
}

#search_box {
  position: relative;
  width: 350px;
}

#search_box input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease-in-out;
  border: 1px solid #dddddd;
}

input:focus {
  box-shadow: 0 0 5px var(--primary-3);
  border: 1px solid var(--primary-3);
}

#search_box i {
  color: var(--primary-1);
  position: absolute;
  cursor: pointer;
  top: 25%;
  right: 4%;
  transition: 1s;
}

#search_box i:hover {
  color: var(--primary-3);
  transition: 1s;
}
#grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.img {
  width: 380px;
  height: 214px;
  margin-top: 15px;
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
}
.fa-camera {
  color: var(--primary-3);
}
.footer {
  background-color: var(--primary-1);
  padding-top: 10px;
  min-width: 500px;
  margin-top: 20px;
  grid-row-start: 2;
  grid-row-end: 3;
}
.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer_logo-rss {
  fill: var(--primary-2);
  width: 70px;
  height: 70px;
}
.footer_logo-rss:hover {
  fill: var(--primary-4);
  transition: 1s;
}
.github {
  color: var(--primary-2);
}
.github.link:hover {
  color: var(--primary-4);
  transition: 1s;
}
